.App {
  text-align: center;
}

.App-logo {
}
.ui.menu {
  margin: 0px !important;
  padding: 0px !important;
}


.App-header {
  background-color: #222;
  height: 95vh;
  background-size: cover;
  background-position: top;
  color: white;
}

.header__img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  );
}

.App-title {
  font-size: 6em;
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  );
  letter-spacing: 1rem;
}

.App-intro {
  font-size: large;
}
